@import "./variables.scss";
@import "~@fontsource/roboto/400.css";
@import "~@fontsource/roboto/700.css";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    // border: 1px solid green;
}

body { 
    font-family: "Roboto";
    background-color: $brand_primary_color;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style-type: none;
}

.container{
    width: 80%;
    margin: auto;
}

.btn{
    padding: 20px 50px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

    &-bluegreen {
        background-color: #35ffbf;
        color: $brand_primary_color ;
    }

    &-red {
        background-color: #f00e2e;
        color: white ;
    }

    &-dark {
        background-color: #201e38;
        color: white ;
    }
}


.list-menu{
    font-size: 14px ;
    color: #cfcfcf;
    text-transform: uppercase;

    li:hover{
        cursor: pointer;
        color: white;

    }
}

.logo{
    cursor: pointer;
}