@import "./variables.scss";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    // border: 1px solid green;
}


body{
    font-family: sans-serif;
}


img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

.container{
    width: 85%;
    margin: auto;
}

.btn{
    background-color: #39febe;
    color: $brand_primary_color ;
    padding: 15px 30px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}