*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    // border: 1px solid green;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

.container{
    width: 85%;
    margin: auto;
}